
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">SÖZLEŞMELER</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sözleşme ID</th>
                        <th>Sözleşme Adı</th>
                        <th>Sözleşme İçeriği</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Şirket</th>
                        @* <th>Kullanıcı ID</th>*@
                        <th>Mail</th>
                        <th>Alarm Kur</th>
                    </tr>
                </thead>

                <tbody>
                    @*
                Güncelle butonu
                ForEach
                    *@
                    <tr>
                        <td>1</td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>12.05.2024</td>
                        <td>12.06.2024</td>
                        <td>ADASO</td>
                        <td>3</td>
                        <td>adaso@mail</td>
                        <td><a href="#" class="btn btn-info">Alarm Kur</a></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>12.05.2024</td>
                        <td>12.06.2024</td>
                        <td>ADASO</td>
                        <td>5</td>
                        <td>adaso@mail</td>
                        <td><a href="#" class="btn btn-info">Alarm Kur</a></td>
                        <td><a href="#" class="btn btn-success">Güncelle</a></td>

                    </tr>
                </tbody>
            </table>
            @* Yeni Sözleşme ekleme*@
            <a href="#/Agreement/NewAgrement" class="btn btn-primary">Yeni Sözleşme Eke</a>

        </div>
    </div>
</div>

